{% extends 'layout.html' %}

{% block body %}
  <div id="indexContent">
      <ul>
        <p align="center"><img src="/static/gdis.png"></img></p>
        <p align="center" style="font-size:15px"><a href="{{ url_for('input') }}"><button class="button2" style="height:45px;width:120px"><img src="/static/input.png">
         &nbsp;&nbsp;&nbsp;Input</button></img></a>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="{{ url_for('wifi') }}"><button class="button2" style="height:45px;width:120px"><img src="/static/wifi.png">
         &nbsp;&nbsp;&nbsp;Wi Fi</button></img></a></p>
        <p align="center" style="font-size:15px"><a href="{{ url_for('test') }}"><button class="button2" style="height:45px;width:120px"> <img src="/static/settings.png">
         &nbsp;&nbsp;&nbsp; Test</button></img></a>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="{{ url_for('sound') }}"><button class="button2" style="height:45px;width:120px"><img src="/static/sound.png">
         &nbsp;&nbsp;&nbsp;Sound</button></img></a></p>
        <p align="center"><label>&nbsp;</label></p>

         <form method="POST" action="volume" oninput="x.value=parseInt(a.value)">
            <p align="center" class="vol"><output name="x" for="a">{{ vol }}</output></p>
            <p align="center">
            <input style="width:240px" type="range" id="a" name="a" min="0" max="100"> <input class="button" style="height:30px;width:30px" type="submit" value=">" /></p>
         </form>

        <p align="center"><a href="{{ url_for('prev') }}"><button class="button" style="height:50px;width:50px"><<</button></a>
         &nbsp;&nbsp; <a href="{{ url_for('play') }}"><button class="button" style="height:50px;width:50px">> ||</button></a>
         &nbsp;&nbsp; <a href="{{ url_for('stop') }}"><button class="button" style="height:50px;width:50px">&#9632;</button></a>
         &nbsp;&nbsp; <a href="{{ url_for('next') }}"><button class="button" style="height:50px;width:50px">>></button></a></p>
        <p align="center"><label>&nbsp;</label></p>
        <p align="center"><a href="{{ url_for('power') }}"><img src="/static/power.png"></img></a></p>
      </ul>
    </form>
  </div>
{% endblock %}
