{% extends 'layout.html' %}

{% block body %}
  <div id="indexContent">
      <ul>
        <p align="center"><img src="/static/gdis.png"></img></p>
        <p align="center"<a href="{{ url_for('nos') }}"><button class="button4" style="height:40px;width:150px;">NOS</button></a></p>
        <p align="center"><a href="{{ url_for('sound1') }}"><button class="button1" style="height:40px;width:150px">Sound 1</button></a></p>
        <p align="center"><a href="{{ url_for('sound2') }}"><button class="button1" style="height:40px;width:150px">Sound 2</button></a></p>
        <p align="center"><label>&nbsp;</label></p>
        <p align="center"><label>&nbsp;</label></p>
        <p align="center"><button style="background-color:#4f4e4e;"><a href="{{ url_for('index') }}">Home</a></button></p>
      </ul>
    </form>
  </div>
{% endblock %}
