{% extends 'layout.html' %}

{% block body %}
  <div id="indexContent">
     <p align="center"><img src="/static/gdis.png"></img></p>
     <p align="center"><label>&nbsp;</label></p>
     <p align="center"><label>&nbsp;</label></p>
<!--     <p align="center"><button class="button2" onclick="net()" style="height:40px;width:150px">Network Test</button></p> -->
     <p align="center"><a href="{{ url_for('net') }}"><button class="button2" style="height:40px;width:150px">Network Test</button></a></p>
     <p align="center"><a href="{{ url_for('s1') }}"><button class="button2" style="height:40px;width:150px">Sound Check</button></a></p>
  </div>
{% endblock %}
