{% extends 'layout.html' %}

{% block body %}
  <div id="mainContent">
    <p align="center"><img src="/static/gdis.png"></p>
    <p align="center"><label>&nbsp;</label></p>
    <form action="{{ url_for('save_credentials') }}" method=post>
      <ul>
        <li><p align="center"><label for="menu">Select your WiFi network</label></p></li>
        &#8643;
         <select id="ssid" name="ssid", class="wifiNetworkInputs">
            {% for ssid in wifi_ap_array %}
              <option class="wifiNetworkInputs" value='{{ ssid }}'>{{ ssid }}</option>
            {% endfor %}
         </select>
        &#8642;
        <li><a href="{{ url_for('manual_ssid_entry') }}" class="manualSSIDEntry">manual SSID entry</a></li>
        <p align="center"><label>&nbsp;</label></p>
        <li><label for="wifi_key">Type your Wifi password</label></li>
        <li><input type="password" name="wifi_key", class="wifiNetworkInputs"></li>

        <input type="submit", class="wifiConnectButton" style="height:50px;width:200px">
      </ul>
    </form>
  </div>
{% endblock %}
